<nav>

  <ul class="navigation">

    <% site.navigation.primary.forEach((link) => { %>
      <li class="navigation__item">
        <a class="navigation__primary" href="<%= link.url %>"><%= link.title %></a>
      </li>
    <% }); %>

    <ul class="navigation__item  u-float-right u-margin-right-20">
      <li class="navigation__item">
        <a class="contact__email" href="mailto:<%= meta.email %>"><%= meta.email %></a>
      </li>
      <% site.navigation.contact.forEach((link) => { %>
        <li class="navigation__item">
          <a class="contact__icon  u-<%= link.title.toLowerCase() %> u-accessible-text" href="<%= link.url %>" rel="nofollow" target="_blank"><%= link.title %></a>
        </li>
      <% }); %>
    </ul><!-- /.navigation__item -->

  </ul><!-- /.navigation -->

</nav>
